@charset "utf-8";
/* 초기화 */
body, h1, h2, h3, ul, p { margin: 0; padding: 0; }
ul li { list-style: none; }
a {text-decoration: none; }
hr { display: none; }
.hidden { position: absolute; left: -9999px; }
/* 웹폰트 */
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

body { width: 800px; margin: 8px auto 0; font-family: 'LeferiPoint-WhiteObliqueA'; }

/* 헤더 */
#header { height: 150px; background: #f46075; position: relative; display: flex; justify-content: space-between; align-items: center; }
#header h1 { width: 185px; }
#header h1 a { display: block; height: 150px;  background: url(../images/logo.png) no-repeat left; text-indent: -1000em; }

/* gnb 포지션으로 사용해서 위치 이동*/
/* #gnb { position: absolute; top: 86px; left: 290px; }
#gnb ul {  }
#gnb ul li { float: left; margin-right: 33px; }
#gnb ul li a { color: #fff; } */

#gnb ul { display: flex; margin-right: 107px; }
#gnb ul li { margin-left: 33px; }
#gnb ul li a { color: #fff; }

main { width: 564px; float: left; }
/* 본문 */
#content h2 { font-family: 'LeeSeoyun'; padding-left: 6px; line-height: 82px; }
#content article { width: 272px; height: 242px; border: 1px solid #ccc; float: left; margin: 0 0 10px 10px; box-sizing: border-box; padding: 25px 12px 0; }
#content .dogHouse:hover {background: #ffd4b5; border-color: #2a8f4c; }
#content .dogFood:hover {background: #dcfca8; border-color: #6f23e0; }
#content .dogWater:hover {background: #b6d5ff; border- color: #20236e; }
#content .dogName:hover {background: #b6ffec; border-color: #10444f; }

#content article a { color: #333; margin:  }
#content article a h3 { margin-bottom: 5px; font-size: 15px; }
#content article a p { font-size: 11px; line-height: 18px; }

#puppyPhoto { width: 202px; float: right; background: #ffffcc; border: 1px solid #006400; box-sizing: border-box; margin-top: 82px; padding: 10px 0; text-align: center; }
/* footer */
#footer { clear: both; padding: 20px 0;
          background: #333; color: #fff;
          text-align: center; }
